name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Set secrets in Fly app
        run: |
          flyctl secrets set \
            GHOST_CONTENT_API_KEY="${{ secrets.GHOST_CONTENT_API_KEY }}" \
            OWNER_EMAIL="${{ secrets.OWNER_EMAIL }}" \
            OWNER_PASSWORD="${{ secrets.OWNER_PASSWORD }}" \
            MAILGUN_DOMAIN="${{ secrets.MAILGUN_DOMAIN }}" \
            MAILGUN_API_KEY="${{ secrets.MAILGUN_API_KEY }}" \
            MAILGUN_BASE_URL="${{ secrets.MAILGUN_BASE_URL }}" \
            MAILGUN_USER="${{ secrets.MAILGUN_USER }}" \
            MAILGUN_PASSWORD="${{ secrets.MAILGUN_PASSWORD }}" \
            SITE_TITLE="${{ secrets.SITE_TITLE }}" \
            SITE_DESCRIPTION="${{ secrets.SITE_DESCRIPTION }}" \
            OWNER_NAME="${{ secrets.OWNER_NAME }}" \
            OWNER_SLUG="${{ secrets.OWNER_SLUG }}" \
            BLOG_URL="${{ secrets.BLOG_URL }}" \
            COMMENT_SETTINGS="${{ secrets.COMMENT_SETTINGS }}" \
            MEMBERS_SIGNUP_ACCESS="${{ secrets.MEMBERS_SIGNUP_ACCESS }}" \
            RAPID_READ="${{ secrets.RAPID_READ }}" \
            JWT_SECRET="${{ secrets.JWT_SECRET }}" \
            ANTHROPIC_API_KEY="${{ secrets.ANTHROPIC_API_KEY }}"
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      - name: Deploy to Fly.io
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
